*{box-sizing: border-box;padding: 0;margin: 0;font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;}

.header{
	height: auto;
	width: 100%;
	background: black;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	color: white;
	line-height: 35px;
	font-family: sans-serif;
}
.header .blank1{
    height: 35px;
    width: 10%;
    border-right: 1px solid gray;
}
.header .signin{
	height: 35px;
	width: 20%;
	border-right: 1px solid gray;
	color: white;
}
.header .signup{
	height: 35px;
	width: 20%;
	 border-right: 1px solid gray;

}
.header .call{
	height: 35px;
	width: 20%;
	border-right: 1px solid gray;
}
 .header .email{
	height: 35px;
	width: 20%;
	 border-right: 1px solid gray;
}
.header .blank2{
	height: 35px;
	width: 10%;
}
.header i{
	color:#2fdab8;
}

.header2{
	height: auto;
	width: 100%;
	background: white;
	display: flex;
	flex-wrap: wrap;

}
.header2 .search{
    height: 120px;
    width: 33.33%;
    padding-top: 37px;
    text-align: center;
}
.header2 .search input{
    height: 50px;
    width: 350px;
    border: 1px solid lightgray;
}
.header2 .search i{
	background:#2fdab8 ;
	color: white;
	padding:16.5px 17px 17px 16px;
}

.header2 .logo{
    height: 120px;
    width: 40%;
    text-align: left;
    font-size: 55px;
    padding-top: 22px;
    position: relative;

}
.header2 .logo i{
	font-size: 18px;
	position: absolute;
	top: 88px;
	left: 309px;
	color:#2fdab8 ;
}
.header2 .logo span{
	background: black;
	color: white;
	padding: 0 20px 0 20px;
	font-weight: bold;
}
.header2 .icons{
    height: 120px;
    width: 26.67%;
    text-align: center;
    line-height: 120px;
    display: flex;

}
.header2 .icons .i4{
	width: 100%;
	display: flex;


}
.header2 .icons .share-on{
     width: 30%;
}
.header2 .icons .ftil{
	height: 40px;
	width: 40px;
	margin: 40px 4px;
	position: relative;
   
}
.header2 .icons .ftil .back i{
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 15px;
	color: white;
}
.header2 .icons .ftil .back .bb1{
	background: #3b5998;
}
.header2 .icons .ftil .back .bb2{
	background: #1877f2;
	padding: 12px 12px;
}
.header2 .icons .ftil .front .ff2{
	padding: 12px 12px;
}
.header2 .icons .ftil .back .bb3{
	padding: 12px 13px;
	background: #c32aa3;
}
.header2 .icons .ftil .front .ff3{
   padding: 12px 13px;
}
.header2 .icons .ftil .back .bb4{
	background:#bd081c ;
	 padding: 12px 13px;
}
.header2 .icons .ftil .front .ff4{
   padding: 12px 13px;
}
.header2 .icons .ftil .front i{
	background:white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 15px;
}



.header2 .icons .l{
	margin-right: 50px;
}

.header2 .icons .front{
	height: 40px;
	width: 40px;
	position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(180deg);
    transition: 1s;
    backface-visibility: hidden;
}
.header2 .icons .ftil:hover .front{
	transform: rotateX(0deg);
}

.header2 .icons .back{
	height: 40px;
	width: 40px;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateX(0deg);
	transition: 1s;
	backface-visibility: hidden;
	
	

}
.header2 .icons .ftil:hover .back{
	transform: rotateX(180deg);
}