
@media only screen and (max-width: 1250px)
{
	.header .blank1{width: 100%;}
	.header .signin{width: 50%;}
	.header .signup{width: 50%;}
	.header .call{width: 50%;}
	.header .email{width: 50%;}
	.header .blank2{width: 100%;}
}

@media only screen and (max-width: 700px)
{
	.header .blank1{
		width: 100%;

	}
	.header .signin{
		width: 100%;


	}
	.header .signup{
		width: 100%;
	}
	.header .call{
		width: 100%;
	}
	.header .email{
		width: 100%;
	}
	.header .blank2{
		width: 100%;
	}
}

@media only screen and (max-width: 1250px)
{
	.header2 .search{width: 100%;}
	.header2 .search input{width: 80%;}
	.header2 .logo{width: 50%;}
	.header2 .icons{width: 50%;text-align: right;}
}
@media only screen and (max-width: 700px){
	.header2 .logo{width: 100%;}
	.header2 .icons{width: 100%;text-align: right;}
}