
@keyframes ldio-4m7w3289z35 {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45,0,0.9,0.55)
  }
  0% {
    transform: translate(0,0)
  }
  50% {
    transform: translate(0,108px);
    animation-timing-function: cubic-bezier(0,0.45,0.55,0.9);
  }
  100% {
    transform: translate(0,0);
  }
}

.ldio-4m7w3289z35 div {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #e15b64;
  left: 74px;
  top: 20px;
  animation: ldio-4m7w3289z35 1s linear infinite;
}
.loadingio-spinner-ball-dffukbvvyn {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff;
}
.ldio-4m7w3289z35 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-4m7w3289z35 div { box-sizing: content-box; }
.aa{

  margin:100px auto;
  

}
.aa td{border: 1px solid;text-align: center;}
.aa span{
  text-align: left; 
  color: red;
}
