@media(max-width:1300px){
.content2 .c1 .w{font-size:22px;}
.content2 .c1 .d{font-size: 18px;} 
}


@media(max-width:1100px)
{
	.content1 .c1{height: 400px;}
	.content1 .c1 .c1-1{height: 280px;width: 280px;}
	.content1 .c1 .c1-1 .img{height: 260px;width: 260px;}
	.content1 .c1 .c1-1 .img .img1 img{height: 400px; width: 260px;}
	.content1 .c2{height: 400px;}
	.content1 .c2 .c2-1{height: 270px;margin-top: 130px;}
	.content1 .c2 .c2-1 .name{font-size: 60px;}
	.content1 .c2 .c2-1 .ilc{font-size: 40px;}  
	.content2 .c1 .w{font-size:20px;}
    .content2 .c1 .d{font-size: 16px;} 
    .content3 .c1{width: 100%;}
    .content3 .c2{width: 100%;margin-top: 30px;}
    .am{text-align: center; padding: 0;}
}
@media(max-width:1000px)
{
	.content2 .c1 .w{font-size:18px;}
    .content2 .c1 .d{font-size: 14px;} 
}

@media(max-width:900px)
{
	.header .name{width: 50%;}
	.header .menubar{width: 100%;position: absolute; top: 100px; background:#FB8965;}
	.header .btn{width: 50%;}

	.content1{margin-top: 200px;}
	.content1 .c1{width: 100%;height: 290px;justify-content: center;margin-top: 30px;}
	.content1 .c1 .c1-1{margin-right: 0;height: 260px;width: 260px;}
	.content1 .c1 .c1-1 .img{height: 240px;width: 240px;}
	.content1 .c1 .c1-1 .img .img1 img{height: 330px; width: 240px;}
	.content1 .c2{width: 100%;height: 290px;}
	.content1 .c2 .c2-1{width: 100%; height: 260px; margin:30px 0;text-align: center;}
	.content1 .c2 .c2-1 .name{font-size: 50px;}
	.content1 .c2 .c2-1 .ilc{font-size: 40px;} 
	.content2{background: green;}
	.content2 .c1{height: 140px;padding-top: px;}
    .content2 .p1{width: 100%;}
    .content2 .p2{width: 50%;}
    .content2 .c1 .w{font-size:20px;}
    .content2 .c1 .c11 p{margin-left: 0;}
    .content2 .c1 .d{font-size: 25px;} 
    .content2 .c1 .c11{margin: 0 auto; width: 100%; text-align: center;padding-top: 40px;}
    .content2 .c1 .c12{margin: 0 auto;width: 100%;padding-top: 30px;}
    .content2 .c1 .d1,.w1{text-align: center;}


	
}
@media(max-width:700px)
{
	.content1 .c1{height: 260px;}
	.content1 .c1 .c1-1{height: 230px;width: 230px;}
	.content1 .c1 .c1-1 .img{height: 210px;width: 210px;}
	.content1 .c1 .c1-1 .img .img1 img{height: 300px; width: 210px;}
	.content1 .c2{height: 260px;}
	.content1 .c2 .c2-1{height: 230px;}
	.content1 .c2 .c2-1 .name{font-size: 45px;}
	.content1 .c2 .c2-1 .ilc{font-size: 35px;}  
	.content2 .c1 .w{font-size:16px;}
    .content2 .c1 .d{font-size: 20px;} 
    
    .content4 .c1{width: 100%;}
    .project{text-align: center;padding: 0;}
    .content4 .c2{margin-top: 25px;}



    .content5 .c1{width: 100%;}
     .content5 .c2{width: 100%;}
     .contact{text-align: center;padding: 0;} 
     .content5 .c2 .c21 h2{text-align: center;}
     

}
@media(max-width:500px)
{
	.header .menubar .menu .option{margin: 0 20px;}
	.content1 .c1{height: 230px;}
	.content1 .c1 .c1-1{height: 200px;width: 200px;}
	.content1 .c1 .c1-1 .img{height: 180px;width: 180px;}
	.content1 .c1 .c1-1 .img .img1 img{height: 270px; width: 180px;}
	.content1 .c2 .c2-1{height: 200px;}
	.content1 .c2 .c2-1 .name{font-size: 40px;}
	.content1 .c2 .c2-1 .ilc{font-size: 30px;}
	.content2 .c1 .w{font-size:12px;}
    .content2 .c1 .d{font-size: 15px;} 
    .content2 .c1 .p{font-size: 20px;}
    .content2 .c1 .pp{font-size: 25px;} 
    .footer .f1 .f11{width: 50%;}
     


}
@media(max-width:450px)
{
	.header .menubar .menu .option{margin:0 5px;}
	.content3 .c1 .c1-1{padding-top: 10px;}
	.content5 .c2 .c21{width: 100%;padding-left: 60px;} 
	.content5 .c2 .c21 h2{text-align: left; padding-left: 60px;}
}
@media(max-width: 386px)
{
	.content3 .c1 .c1-1 .c1-2{width: 90%;}
	.content5 .c2 .c21{padding-left: 0px;} 
}
@media(max-width: 350px)
{
	.content3 .c1 .c1-1{width: 95%;}
}
@media(max-width: 330px){
    .header .name{width: 100%;}
	.header .menubar{width: 100%;position: unset; top: 100px; background:#FB8965;}
	.header .btn{width: 100%;}	
	.header .menubar .menu .option{margin: 0 2px;}
	.content1 .c1{margin-top: 75px;}
	.content2 .p2{width: 100%;}
}
@media(max-width: 310px){
	.header .menubar .menu .option a{font-size: 15px;}
}
@media(max-width: 350px){
	.content3 .c1 .c1-1{width: 100%;}
}