*{box-sizing: border-box;margin: 0;padding: 0; scroll-behavior: smooth;}
.header{
	width: 100%;
	background:#FB8965;
	display: flex;
	flex-wrap: wrap;
	line-height: 100px;
	text-align: center;
   position: fixed;
   top: 0;
   z-index: 10;
}
.header .name{
	height: 100px;
	width: 20%;
	margin-top: -20px;

}
.header .menubar{
	height: 100px;
	width: 60%;
}
.header .menubar .menu .option{
	list-style: none;
	display: inline;
	margin:0 20px;
	padding: 15px 0;
	position: relative;

}
.header .menubar .menu .option::before{
	content: "";
	height: 4px;
	width: 0%;
	background: white;
	position: absolute;
	top: 100%;
	left: 50%;
	transition: 0.5s;
}
.header .menubar .menu .option:hover::before{
    width: 50%;
}
.header .menubar .menu .option::after{
	content: "";
	height: 4px;
	width: 0%;
	background: white;
	position: absolute;
	top: 100%;
	left: 50%;
	transition: 0.5s;
}
.header .menubar .menu .option:hover::after{
    width: 50%;
    left: 0%;
}
.header .menubar .menu .option a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 18px;
	font-weight:300px;
	color: white;
}
.header .btn{
	height: 100px;
	width: 20%;

}
.header .btn a{
    padding: 15px 40px;
    font-size: 17px;
    border-radius:30px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-family: sans-serif;
    position: relative;
    z-index:0;
    transition: 0.5s;
}
.header .btn a:hover{
	color: #FB8965;

}
.header .btn button{
	padding:16px 0px;
	 border-radius:30px;
	 border: none;
	 background: none;
	 overflow: hidden;

}
.header .btn a::before{
	content: "";
	height: 100%;
	width: 100%;
	background: white;
	position: absolute;
	top: -100%;
	left: 0;
	transition: 0.5s;
	z-index: -1;
}
.header .btn a:hover::before{
	top: 0;
}


.content1{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background: #FB8965;
	margin-top: 100px;

}
.content1 .c1{
	height:500px;
	width: 35%;
	display: flex;
	justify-content: right;
	align-items:flex-end;
}
.content1 .c1-1{
	height: 320px;
	width: 320px;
	border-radius: 50%;
	line-height: 330px;
	border: 2px solid white;
	margin-right: 30px;
}
.content1 .c1-1 .img{
	height: 300px;
	width: 300px;
	border-radius: 50%;
	margin: 10px auto;
	overflow: hidden;
	position: relative;

}
.content1 .c1-1 .img .img1{
	transform:rotateY(0deg);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.content1 .c1-1 .img:hover .img1{
	transform: rotateY(180deg);
}
.content1 .c1-1 .img .img2{
	transform:rotateY(180deg);
	backface-visibility: hidden;
    position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.content1 .c1-1 .img:hover .img2{
	transform: rotateY(0deg);
}
.content1 .c2{
	height:500px;
	width: 65%;   
}
.content1 .c2 .c2-1{
	height: 300px;
	width: 95%;
	margin: 200px 5%;
    font-family: sans-serif;
}
.content1 .c2 .c2-1 .name{
	font-size: 70px;
   color: white;
}
.content1 .c2 .c2-1 .ilc{
	margin-top: 40px;
	font-size: 40px;
	font-family:cursive;
}
.content1 .c2 .c2-1 .ilc span{
	color: red;
}

.content2{
	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-family: sans-serif;
	color: white;
}
.content2 .c1{
	height: 250px;
	width: 33.33%;
	background:#FB8965;
}
.content2 .c1 .c11{
	height: 140px;
    width: 70%;
	margin:100px auto;
}
.content2 .c1 .c11 p{
	margin-left: 50px;
}

.content2 .c1 .d{
	font-size: 20px;
} 
.content2 .c1 .w{
	font-size:25px;
	margin-top: 20px;
}
.content2 .c1 .d1,.w1{
	text-align:right;
}
.content2 .c1 .w1 i{
	border: 2px solid;
	border-radius: 50%;
	padding: 5px;

}
.content2 .c1 .c12{
	height: 140px;
	width: 85%;
	margin:100px 0;

}
.heading{
	height: 150px;
	width: 100%;
	font-family: sans-serif;
	font-size: 45px;
	line-height: 150px;
	padding-left: 100px;
	color:#484848;	
	text-decoration: underline;
}

.content3{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.content3 .c1{
	height: 400px;
	width: 40%;
}
.content3  .p{
	text-align: center;
	font-size: 70px;
	color:#FB8965;
	font-family: sans-serif;
}
.content3 .c1 .c1-1{
	height: 300px;
	width: 80%;
	background:#f3f3f3;
	margin: 18px auto;
	border-radius: 40px;
	padding-top: 50px;
	color:gray;

}
.content3 .c1 .c1-1 .c1-2{
	height: 220px;
	width: 82%;
	margin: 0 auto;

}
.content3 .c1 .c1-1 .bio{
	font-family: sans-serif;

} 
.content3 .c2{
	height: 400px;
	width: 60%;
}
.content3 .c2 .c21{
    height:300px;
    width: 80%;
    margin: 18px auto;
    font-family: sans-serif;
}
.content3 .c2 .c21 p{
	font-size: 18px;
}
.content3 .c2 .c21 .s1{
	height: 10px;
	width: 100%;
	background: red;
	border-radius: 20px;
	background:#f3f3f3;
	margin-top: 10px;
	position: relative;

}

.content3 .c2 .c21 .s1::after{
	content: "";
	text-align: right;
	color: white;
	padding-right: 10px;
	font-size: 10px;
	height: 10px;
	background:lightblue;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
}
.content3 .c2 .c21 .s::after{
	content:"85%" ;
	width: 85%;
	animation-name: animate;
	animation-duration: 3s;

}
@keyframes animate{
     from{width: 0%;}
     to{width: 85%;}
}

.content3 .c2 .c21 .s2::after{
	content: "80%";
	width: 80%;
	animation-name: animate2;
	animation-duration: 3s;
}
@keyframes animate2{
     from{width: 0%;}
     to{width: 80%;}
}
.content3 .c2 .c21 .s3::after{
	content: "90%";
	width: 90%;
	animation-name: animate3;
	animation-duration: 3s;
	
}
@keyframes animate3{
     from{width: 0%;}
     to{width: 90%;}
}
.content3 .c2 .c21 .s4::after{
	content: "85%";
	width: 85%;
	animation-name: animate4;
	animation-duration: 3s;
	
}
@keyframes animate4{
     from{width: 0%;}
     to{width: 85%;}
}
.content3 .c2 .c21 .s5::after{
	content: "80%";
	width: 80%;
	animation-name: animate;
	animation-duration: 3s;
	
}
@keyframes animate5{
     from{width: 0%;}
     to{width: 80%;}
}

.content4{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.content4 .c1{
	width: 50%;
}
.content4 .c1 .mf{
	background: url(../img/img3.png);
	background-repeat: no-repeat;
    background-size: 100% 900%;
    transition: 10s;
  
}
.content4 .c1 .ea{
	background: url(../img/img4.png);
	background-repeat: no-repeat;
    background-size: 100% 900%;
    transition: 10s;
}

.content4 .c1 .c1-1:hover{
	background-position: 0 100%;
	box-shadow: 0 0 20px blue;

}

.content4 .c1 .c1-1{
	height: 350px;
	width: 85%;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0 0 10px black;

}

.content5{
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}
.content5 .c1{
	width: 60%;   
}
.content5 .c1 .c11{
	height: 450px;
	width: 87%;
	margin: auto;
	font-family: sans-serif;
}
.content5 .c1 .c11 .a{
	width: 100%;
	display: flex;


}
.content5 .c1 .c11 .a .a1{
	height: 80px;
	width: 46%;
	margin: auto;
}
.content5 .c1 .c11  p{
	color: gray;
	font-size: 18px;
}
.content5 .c1 .c11 input{
	width: 100%;
	height: 73%;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	font-size: 20px;
}
.content5 .c1 .c11 .b{
	height: 80px;
	width: 96%;
	margin: 20px auto;
}
.content5 .c1 .c11 .c{
	height: 162px;
	width: 96%;
	margin: auto;
}
.content5 .c1 .c11 .c textarea{
	outline: none;
	border: none;
	border-bottom: 2px solid;
	font-size: 20px;
	width: 100%;
}
.content5 .c1 .c11 button{
	margin:20px 15px;
	padding:15px 20px;
	border-radius: 40px;
	outline: none;
	border: none;
	background: white;
	border: 2px solid #FB8965;
	position: relative;
	z-index: 0;
	font-weight: bold;
	overflow: hidden;
}
.content5 .c1 .c11 button::after{
	content: "";
	height: 50px;
	width: 147px;
	background: #FB8965;
	position: absolute;
	top: -116%;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
.content5 .c1 .c11 button:hover::after{
	top: 0;
}
.content5 .c1 .c11 .sm{
	text-align: center;
}
.content5 .c2{
	height: 450px;
	width: 40%;
}
.content5 .c2 .c21{
	height: 400px;
	width: 270px;
	margin: 25px auto;
}
.content5 .c2 .c21 p{
	font-size: 20px;
	margin-top: 20px;
}
.content5 .c2 .c21 i{
	font-size: 20px;
	border: 2px solid;
	border-radius: 50%;
	padding: 10px;
	color:#FB8965;
}
.footer{
	width: 100%;
	background: #212529;
	margin-top: 30px;
	font-family: sans-serif;
}
.footer .f1{
	width: 100%;
	border-bottom: 1px solid white;
	display: flex;
	flex-wrap: wrap;
}
.footer .f1 .f11{
	height: 300px;
	width: 25%;
	text-align: center;
}
.footer .f1 .f11 .p{
   color: #FB8965;
   font-size: 20px;
   margin-top: 20px;

}
.footer .f1 .f11 .p1{
	margin-top: 25px;
	color: white;
}
.footer .f2{
	height: 100px;
	width: 100%;
	text-align: center;
	font-family: sans-serif;
	color: white;
	padding-top: 50px;
}
.footer .f2 i{
	color:#FB8965;
}
.footer .f2 span{
	color:#FB8965;
}
